<div class="jumbotron" style="background-image: url(https://suraenlinea.cdn.prismic.io/suraenlinea/92b8af2721625e19b65c45e6ffca69c1ef2213b5_bg-home.jpg); background-size: 100%;">
  <div class="container">
    <h1 style="color:white" class="display-2 text-center">Welcome to the Dojo Activity Center!</h1>
    <p style="color:white" class="lead text-center">Login if you're cool, Register if you wanna be cool!</p>
  </div>
</div>
<div class="col-sm-8 well">
    <h2>Register</h2>
    <partial name="_Register"></partial>
</div>

<div class="col-sm-4 well">
    <h2>Login</h2>
    <partial name="_Login"></partial>
</div>